# Configurations
 defaults:
   -
     scope:
       path: ""    # 一个空的字符串代表项目里的所有文件
       type: "posts"   # 指定类型为 post
     values:
       layout: "my-site"
   -
     scope:
       path: "projects"  # 代表目录 projects/
       type: "pages" # 以前的 `page`， 在 Jekyll 2.2 里。
     values:
       layout: "project" # 覆盖之前的默认布局

title:            Ruomin Huang's Homepage
longtitle:        Ruomin Huang (黄若民)
author:           Ruomin Huang
email:            hrm@mail.ustc.edu.cn
description: >
  Build Jekyll site with the GitBook style.

version:          1.0
gitbook_version:  3.2.3

url:              'https://sighingnow.github.io'
baseurl:          '/jekyll-gitbook'
rss:              RSS

toc:
  enabled: false
  h_min: 1
  h_max: 3

# markdown render engine.
markdown:         kramdown
kramdown:
  auto_ids:               true
  input:                  GFM
  math_engine:            mathjax
  smart_quotes:           lsquo,rsquo,ldquo,rdquo
  toc_levels:             1..6
  syntax_highlighter:     rouge
  syntax_highlighter_opts:
    guess_lang:           true

syntax_highlighter_style: colorful

markdown_ext:     markdown,mkdown,mkdn,mkd,md

# Permalinks
permalink:        /:categories/:year-:month-:day-:title:output_ext

exclude:
  - _drafts

destination:      ./_site
incremental:      false
regenerate:       true

plugins:
  - jekyll-feed
  - jemoji
